Repository sundalei/github-action-demo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, tests, ci

feat: add style.css for h2 element styling
  src/frontend/style.css
Labels: frontend

chore: remove outdated instructions from README.md
  README.md
Labels: none

feat: update action.yml to use composite runs and modify output structure
  action.yml
Labels: none

feat: add random number generation and farewell message to action.yml
  action.yml
Labels: none

feat: add output step to greet action for random number retrieval
  .github/workflows/MyFirstWorkflow.yml
Labels: ci

.github/labeler.yml:

# Add 'documentation' label to any changes within the 'docs' folder
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*']

# Add 'frontend' label to any changes in the 'src/frontend' directory
frontend:
  - changed-files:
      - any-glob-to-any-file: ['src/frontend/**/*']

# Add 'backend' label for changes in the 'src/api' or 'src/database' directories
backend:
  - changed-files:
      - any-glob-to-any-file: ['src/api/**/*', 'src/database/**/*']

# Add 'tests' label for changes in the 'tests' directory
tests:
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*']

# Add 'ci' label for changes to GitHub Actions workflows
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*']
